<header>
    <div>
        <improved-label [label]="'Name'" [value]="description.alias"></improved-label>
        <improved-label [label]="'Player'" [value]="description.player"></improved-label>
        <improved-label [label]="'Alignment'" [value]="description.alignment"></improved-label>
        <improved-label [label]="'Level'" [value]="description.level"></improved-label>
        <improved-label [label]="'Deity'" [value]="description.deity"></improved-label>
        <improved-label [label]="'Homeland'" [value]="description.homeland"></improved-label>
        <improved-label [label]="'Race'" [value]="description.race"></improved-label>
        <improved-label [label]="'Size'" [value]="description.size"></improved-label>
    </div>
    <div>
        <div></div>
        <improved-label [label]="'Gender'" [value]="description.gender"></improved-label>
        <improved-label [label]="'Age'" [value]="description.age"></improved-label>
        <improved-label [label]="'Height'" [value]="description.height"></improved-label>
        <improved-label [label]="'Weight'" [value]="description.weight"></improved-label>
        <improved-label [label]="'Hair'" [value]="description.hair"></improved-label>
        <improved-label [label]="'Eyes'" [value]="description.eyes"></improved-label>
        <div></div>
    </div>
</header>