<header>
    <div>
        <improved-label [title]="Name" [value]="description.alias"></improved-label>
        <improved-label [title]="Player" [value]="description.player"></improved-label>
        <improved-label [title]="Alignment" [value]="description.alignment"></improved-label>
        <improved-label [title]="Level" [value]="description.level"></improved-label>
        <improved-label [title]="Deity" [value]="description.deity"></improved-label>
        <improved-label [title]="Homeland" [value]="description.homeland"></improved-label>
        <improved-label [title]="Race" [value]="description.race"></improved-label>
        <improved-label [title]="Size" [value]="description.size"></improved-label>
    </div>
    <div>
        <div></div>
        <div>Gender : {{description.gender}}</div>
        <div>Age : {{description.age}}</div>
        <div>Height : {{description.height}}</div>
        <div>Weight : {{description.weight}}</div>
        <div>Hair : {{description.hair}}</div>
        <div>Eyes : {{description.eyes}}</div>
        <div></div>
    </div>
</header>