<header>
    <div>
        <div>Name : {{description.alias}}</div>
        <div>Player : {{description.player}}</div>
        <div>Alignment : {{description.alignment}}</div>
        <div>Level : {{description.level}}</div>
        <div>Deity : {{description.deity}}</div>
        <div>Homeland : {{description.homeland}}</div>
        <div>Race : {{description.race}}</div>
        <div>Size : {{description.size}}</div>
    </div>
    <div>
        <div></div>
        <div>Gender : {{description.gender}}</div>
        <div>Age : {{description.age}}</div>
        <div>Height : {{description.height}}</div>
        <div>Weight : {{description.weight}}</div>
        <div>Hair : {{description.hair}}</div>
        <div>Eyes : {{description.eyes}}</div>
        <div></div>
    </div>
</header>