@import '../../../app.component';

character-description {
	height: $hauteur_header;
}

section {
	box-sizing: border-box;
	border: solid rgb(255, 0, 0) 4px;
	// ^^^^^ TEST ^^^^^
	display: flex;
	width: 100%;
	height: calc(100% - (2 * #{$hauteur_header}));

	& > div:first-child {
		box-sizing: border-box;
		border: solid rgb(255, 255, 0) 4px;
		// ^^^^^ TEST ^^^^^
		width: 25%;
		height: 100%;
	}

	& > div:not(:first-child) {
		box-sizing: border-box;
		border: solid rgb(255, 0, 255) 4px;
		// ^^^^^ TEST ^^^^^
		width: 25%;
		height: 100%;
	}
}

footer {
	box-sizing: border-box;
	border: solid rgb(0, 0, 255) 4px;
	// ^^^^^ TEST ^^^^^
	width: 100%;
	height: $hauteur_header;
}