@import '../character.component';

header {
	width: 100%;
	display: inline;

	& > div {
		height: calc(#{$hauteur_header} / 2);
		width: auto;
		flex: 1;
		display: flex;

		& > div {
			height: 100%;
			width: auto;
			flex: 1;
			text-align: center;
			background-color: rgb(0, 255, 0);
			line-height: calc(#{$hauteur_header} / 2);
		}
	}
}